.ideasContainer {
  width: 40%;
  margin: 0 auto;
  .ideaComponent {
    border: 1px solid #898989;
    border-radius: 5px;
    margin: 1rem 0;
    background-color: #fff;
    > .ant-row {
      > .ant-col-2 {
        flex: 0 0 5%;
        max-width: 5%;
      }

      > .ant-col-22 {
        flex: 0 0 95%;
        max-width: 95%;
      }
    }
    .voteBtnsHolder {
      background-color: #f8f9fa;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      > div {
        display: flex;
        flex-direction: column;
        // width: 60%;
        margin: 0.5rem auto 0 auto;

        ////////////////////

        > span.anticon {
          border-radius: 2px;
        }

        > span.anticon:hover {
          background-color: #ebeced;
        }

        ////////////////////

        > span.anticon:first-child:hover {
          color: #f9665e;
        }

        > span.anticon:last-child:hover {
          color: #799fcb;
        }

        ////////////////////

        > span.anticon.voted:first-child {
          color: #f9665e;
        }

        > span.anticon.voted:last-child {
          color: #799fcb;
        }

        > span.point {
          font-size: 12px;
          text-align: center;
        }

        > span.point.downvoted {
          color: #799fcb;
        }

        > span.point.upvoted {
          color: #f9665e;
        }
      }
    }
    .pageHeader {
      .subTitle {
        color: rgba(0, 0, 0, 0.45);
        font-size: 12px;
        font-weight: normal;
        line-height: 1;
        span.ant-avatar {
          margin-right: 6px;
        }
      }
      .ant-page-header-heading-sub-title {
        display: flex;
        font-size: 12px;
      }

      .ideaFooter {
        .ideaFunctionalBtns {
          font-size: 12px;
          padding-top: 0.5rem;

          span {
            display: inline-block;
            padding: 0.25rem;
            border-radius: 4px;
            user-select: none;
            cursor: pointer;
            a {
              color: inherit;
              text-decoration: none;
            }
          }

          span:hover {
            background-color: #ebeced;
          }

          span:active {
            background-color: #dbdbdb;
          }
        }
      }
    }
    .ant-typography {
      margin-right: 0.5rem;
    }
  }
}
